.wrapperQRCode {
    .qrCode {
        width: 128px;
        height: 128px;
        margin: 10px;
    }
   
}

.balance {
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin: (20px 0);
}